* {
	padding: 0;
	margin: 0;
	font-family: Arial, serif;
}
 
body {
	/*background-image: url(../images/tilebg.jpg);
	background-color: #d18620;*/
	background-image: url(../images/leavesbg.jpg);
	/*Image © Shauna De Feyter http://www.youthonline.ca/*/
	background-attachment: fixed;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: black;
}
 
div.main {
	width: 960px;
	margin: auto;
	border: 3px solid #1f0600;
	overflow: auto;
	background-color: #380b00;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-webkit-box-shadow: 8px 8px 8px #333;
}
 
div#container {
	margin-top: 50px;
	margin-bottom: 50px;
}

input.submit {
	margin: 5px auto 5px auto;
	display: block;
	padding: 10px;
}

div#left {
	float: left;
	width: 500px;
	padding: 15px;
}

div#right {
	padding: 15px 30px 15px 15px;
	float: right;
	border-left: 5px solid #1f0600;
}

li#login {
	float: right;
	margin-top: 20px;
	margin-bottom: 25px;
	display: block; 
	width: 175px;
}
 
h1,h2 {
	margin: 20px;
	text-align: center;
	color: orange; 
}
 
hr {
	margin: 15px;
}
 
td {
	padding: 10px;
}

p, td{
	color: white;
}
 
div#navbar {
	background-color: #00471f;
	height: 125px;
	border-bottom: 5px solid #1f0600;
	-moz-border-radius-topright: 22px;
	-moz-border-radius-topleft: 22px;
	-webkit-border-radius-topright: 22px;
	-webkit-border-radius-topleft: 22px;
}

div#navbar img {
	float: left;
}
 
div#navbar li a {
	height: 125px;
	float: left;
	text-indent: -9999px;
}
 
div#navbar ul {
	list-style-type: none;
	height: 125px;
}

li#nav-1 a {
	width: 133px;
	background:url(../images/buttons2.jpg) no-repeat 0 0; /* X and Y position at 0 */
}

li#nav-1 a:hover {
	background-position:0 -125px; /* Y position -125px for Over instance image */
}

li#nav-1 a.current {
	background-position:0 -250px; /* Y position -250px for Current instance image */
}

li#nav-2 a {
	width: 162px;
	background:url(../images/buttons2.jpg) no-repeat -133px 0px; /* X and Y position at 0 */
}

li#nav-2 a:hover {
	background-position:-133px -125px; /* Y position -125px for Over instance image */
}

li#nav-2 a.current {
	background-position: -133px -250px; /* Y position -250px for Current instance image */
}

li#nav-3 a {
	width: 163px;
	background:url(../images/buttons2.jpg) no-repeat -295px 0px; /* X and Y position at 0 */
}

li#nav-3 a:hover {
	background-position:-295px -125px; /* Y position -125px for Over instance image */
}

li#nav-3 a.current {
	background-position: -295px -250px; /* Y position -250px for Current instance image */
}

li#nav-4 a {
	width: 142px;
	background:url(../images/buttons2.jpg) no-repeat -458px 0px; /* X and Y position at 0 */
}

li#nav-4 a:hover {
	background-position:-458px -125px; /* Y position -125px for Over instance image */
}

li#nav-4 a.current {
	background-position: -458px -250px; /* Y position -250px for Current instance image */
}